# .gitignore for lunr/backend
.env
.venv
db.sqlite3
staticfiles/
__pycache__/
*.pyc
build
uploads/
logs/
*.log
*.sqlite3
.DS_Store
.vscode/
.idea/
*.iml
*.swp

# .gitignore for lunr/lunr
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json  
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release